.flexbox {
    display: flex;
    /* flex-direction: row; */
    /* display: inline-block; */
    /* justify-content: space-between; */
    /* width: 600px; */
    border: 3px solid;
    /* padding: 20px; */

}

.item {
    padding: 3vmin;
    margin: 3vmin;
    /* width: 30px;
    height: 30px; */
}

.item1 {
    background-color: aqua;

}

.item2 {
    background-color: rgb(176, 127, 221);
}

.item3 {
    background-color: rgb(212, 123, 123);
}

.item4 {
    background-color: rgb(134, 134, 203);
}

.flexbox-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid;
    align-items: center;
    width: 10vw;

}

.flexbox-3 {
    display: flex;
    flex-direction: row-reverse;
    border: 3px solid;
}

.flexbox-4 {
    display: flex;
    flex-direction: column-reverse;
    border: 3px solid;
    align-items: start;
    width: 20vw;
}

.align-item-1 {
    display: flex;
    /* justify-items: center; */
    border: 3px solid;
    align-items: flex-start;
    height: 40vh;
}

.align-item-2 {
    display: flex;
    border: 3px solid;
    align-items: center;
    height: 40vh;

}

.align-item-3 {
    display: flex;
    border: 3px solid;
    align-items: flex-end;
    height: 40vh;
}

.align-item-4 {
    display: flex;
    border: 3px solid;
    /* align-items: flex-st; */
    /* width: 300px; */
    flex-direction: row;
    height: 40vh;
}

.justify-content-start {
    display: flex;
    border: 3px solid;
    justify-content: flex-start;
}

.justify-content-center {
    display: flex;
    border: 3px solid;
    justify-content: center;
}

.justify-content-end {
    display: flex;
    /* height: 300px; */
    justify-content: flex-end;
    border: 3px solid;
}

.justify-content-space-between {
    display: flex;
    /* height: 300px; */
    justify-content: space-between;
    border: 3px solid;
}

.justify-content-sapace-around {
    display: flex;
    justify-content: space-around;
    /* height: 300px; */
    border: 3px solid;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
    /* height: 300px; */
    border: 3px solid;
    display: flex;
}

.align-content-flex-start {
    display: flex;
    align-content: flex-start;
    border: 3px solid;
}

.align-content-center {
    display: flex;
    border: 3px solid;
    align-content: center;
    height: 30vh;
    flex-wrap: wrap;
}

.align-content-flex-end {
    display: flex;
    border: 3px solid;
    align-items: flex-end;
    height: 40vh;
    flex-wrap: wrap;
}

.align-content-stretch {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    border: 3px solid;
    height: 40vh;
    flex-wrap: wrap;
}

.align-content-space-between {
    display: flex;
    border: 3px solid;
    align-content: space-between;
    width: 40vw;
    flex-wrap: wrap;
    height: 300px;
}

.align-content-space-around {
    display: flex;
    border: 3px solid;
    align-content: space-around;
    /* justify-content: space-around; */
    height: 20vhpx;
    width: 40vw;
    flex-wrap: wrap;
}